[submodule "english-dict"]
	path = english-dict
	url = git@github.com:coffeeeeffoc/english-words-assets.git
	branch = main
[submodule "carding-car"]
	path = carding-car
	url = git@github.com:coffeeeeffoc/carding-car-assets.git
	branch = main
